<template>
  <div style="text-align: center; " :class="{ procesing: state == 'loading' }">
    <div
      class="rest-errors"
      v-if="state == 'network-error' || state == 'error' || state == 'time-out'"
      style="margin-bottom: .5rem"
    >
      <span v-if="state == 'time-out'">
        <span v-if="$root.isOnline">
          Su solocitud tomó demasiado tiempo en responder (Su internet parece
          estar lento), vuelve a intentarlo.
        </span>
        <span v-else>
          Parece que no estas conectado al Internet. <br />
          Revisa tu conexión y vuelve a intentarlo. =)</span
        >
      </span>
      <span v-if="state == 'error'">
        <span v-if="$root.isOnline">
          No hemos podido completar tu solicitud, <br />
          vuelve a intentarlo en unos minutos.</span
        >
        <span v-else>
          Parece que no estas conectado al Internet. <br />
          Revisa tu conexión y vuelve a intentarlo. =)</span
        >
      </span>
      <span v-if="state == 'network-error'">
        <span v-if="$root.isOnline">
          Error de red, <br />
          vuelve a intentarlo.</span
        >
        <span v-else>
          Parece que no estas conectado al Internet. <br />
          Revisa tu conexión y vuelve a intentarlo. =)</span
        >
      </span>
      <slot
        name="retry"
        v-if="
          state == 'network-error' || state == 'error' || state == 'time-out'
        "
      >
        <!--reintentar-->
      </slot>
    </div>

    <MaterialButton
      v-if="!hideButton"
      :raised="raised"
      :ripple="ripple"
      :large="large"
      :disabled="disabled"
      @click="handleClick"
    >


      <loader-spinner v-show="state == 'loading'"></loader-spinner>
      <span v-if="state == 'success'">&#10003;</span>
      <span
        v-if="
          state == 'network-error' || state == 'error' || state == 'time-out'
        "
        >&#x21bb;</span
      >
      <!--<span  style="width: 0.01rem" >-->
      <!--<img src="./../assets/images/Symbol_OK.svg">-->
      <!--</span>-->
      <slot> </slot>
    </MaterialButton>

    <!--<div data-v-c44b8200="" class="md-progress-spinner md-progress-spinner-indeterminate md-indeterminate md-theme-default">-->
    <!--<svg preserveAspectRatio="xMidYMid meet" focusable="false" viewBox="0 0 60 60" class="md-progress-spinner-draw" style="width: 60px; height: 60px;">-->
    <!--<circle cx="50%" cy="50%" r="27" class="md-progress-spinner-circle" style="stroke-dasharray: 169.646px; stroke-width: 6px; animation-name: md-progress-spinner-stroke-rotate-60;">-->

    <!--</circle>-->
    <!--</svg>-->
    <!--</div>-->
  </div>
</template>

<script>
import MaterialButton from "vue-material-button";
import LoaderSpinner from "../widgets/LoaderSpinner";

export default {
  name: "rest-button",
  components: { MaterialButton, LoaderSpinner },
  props: {
    state: {
      type: [String, Number],
      default: Number.MAX_SAFE_INTEGER
    },
    hideButton: {
      type: [Boolean],
      default: false
    }
  },

  computed: {
    // isLoading() {
    //   return (this.state == 'loadind')
    //
    // }
  },
  watch: {
    isLoading() {}
  },

  methods: {
    handleClick() {
      // alert('boton def')
      if (this.state != "loading") {
        this.$emit("click");
      }
    }
  },
  data() {
    return {
      raised: true,
      ripple: true,
      large: false,
      disabled: false
    };
  }
};
</script>

<style lang="scss">
  @import "./../style/variables";
  @import "./../style/breakpoints";
  @import "./../style/extends";

  .material-button__component .material-button.material-button--active.material-button--raised {
    background-color: $electricblue;

  }
</style>
