<template>
    <section>
        <div v-if="step=='menu'">
            <h1>Revisa en que puedes ayudar.</h1>
            <h3>Explora las siguientes opciones</h3>
            <div>
                <button @click="step='intermediacionProductos'">
                    Intermediación de Productos
                </button>
            </div>
            <br>
            <div>
                <button @click="step='donacionProductos'">
                    Donación de Productos
                </button>
            </div>
            <br>
            <div>
                <button @click="step='truequeProductos'">
                    Trueque de Productos
                </button>

            </div>
            <br>
            <div>
                <button @click="step='asistenciaSalud'">
                    Asistencia en Salud
                </button>
            </div>
            <br>

            <button @click="exitMenu('quieroAyudar')">
                QUIERO AYUDAR
            </button>
            <br>
            <br>
            <br>
            <button @click="exitMenu('menuPrincipal')">
                Regresar
            </button>


        </div>

        <div v-if="step=='intermediacionProductos'">
            <h1>Intermediación de Productos</h1>
            <img src="../assets/iconos/ENTREGA-DE-PRODUCTOS.jpg.png" style="height: 6rem"/>
            <h2>Si tienes tu Kit Sanitario completo y no eres parte de los grupos más vulnerables al COVID-19,
                Puedes ayudar a transportar alimentos o medicinas.</h2>
            <button @click="step='menu'">
                Regresar
            </button>
        </div>

        <div v-if="step=='donacionProductos'">
            <h1>Donación de Productos</h1>
            <img src="../assets/iconos/donacion-de-productos.png" style="height: 6rem"/>
            <h2>Comida, Medicinas, Guantes o Mascarillas, tú ayuda puede ser vital para una persona.</h2>
            <button @click="step='menu'">
                Regresar
            </button>
        </div>

        <div v-if="step=='truequeProductos'">
            <h1>Trueque de Productos</h1>
            <img src="../assets/iconos/trueque.png" style="height: 6rem"/>
            <h2>Eso que tienes, intercámbialo por algo que necesitas.
                Es como ayudar por dos.</h2>
            <button @click="step='menu'">
                Regresar
            </button>
        </div>

        <div v-if="step=='asistenciaSalud'">
            <h1>Asistencia Emocional</h1>
            <img src="../assets/iconos/asistencia-sicologica.png" style="height: 6rem"/>
            <h2>La fuerza solidaria entre vecinos, hace la diferencia
                para toda una ciudad.</h2>
            <button @click="step='menu'">
                Regresar
            </button>
        </div>
    </section>
</template>

<script>
    // import GmapMap from ''
    export default {
        name: 'menu-ayudo',
        data() {
            return {
                step: 'menu'
            }
        },
        mounted() {

        },
        methods: {
            exitMenu(actionParam) {
                this.$emit("exit-menu", {action: actionParam});
            },
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scss scoped>
    button {
        border: none;
        border-radius: 2rem;
        color: inherit;
        font-weight: 500;
        background-color: #46b78263;
        cursor: pointer;
        font-size: 1rem;
        padding: calc(1rem * .75) calc(1rem * 1.125);
        outline: none;
        text-decoration: none;
        text-transform: uppercase;
    }
</style>
