<template>
  <div class="modal" v-show="value">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "modals",
  props: {
    value: {
      required: true
    }
  }
};
</script>

<style lang="css" scoped>
.modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
.container {
  width: 20em;
  height: max-content;
  padding: 16px;
  background: white;
  box-shadow: 0px 0px 64px -15px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}
button {
  border: none;
  border-radius: 2rem;
  color: inherit;
  font-weight: 500;
  background-color: #46b78263;
  cursor: pointer;
  font-size: 1rem;
  padding: calc(1rem * 0.75) calc(1rem * 1.125);
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
}
</style>
