<template>
    <section>
        <div v-if="step=='resgistroPrincipal'">
            <h1>Registrate para ayudar.</h1>

            <img/>
            <div style="">

                <floating-label style="max-width: 10rem; margin: auto"
                                :config="{label: 'Primer Nombre', hasClearButton: false}">
                    <input name="primerNombre" type="text">
                </floating-label>
                <br>

                <floating-label style="max-width: 10rem; margin: auto"
                                :config="{label: 'Segundo Nombre', hasClearButton: false}">
                    <input name="segundoNombre" type="text">
                </floating-label>
                <br>

                <floating-label style="max-width: 10rem; margin: auto"
                                :config="{label: 'Primer Apellido', hasClearButton: false}">
                    <input name="primerApellido" type="text">
                </floating-label>
                <br>

                <floating-label style="max-width: 10rem; margin: auto"
                                :config="{label: 'Segundo Apellido', hasClearButton: false}">
                    <input name="segundoApellido" type="text">
                </floating-label>
                <br>

                <div style="display: flex ; justify-content: center">
                    <floating-label style="max-width: 3rem" :config="{label: 'día', hasClearButton: false}">
                        <input name="segundoApellido" type="text">
                    </floating-label>

                    <floating-label style="max-width: 5rem" :config="{label: 'mes', hasClearButton: false}">
                        <input name="segundoApellido" type="text">
                    </floating-label>

                    <floating-label style="max-width: 3rem" :config="{label: 'año', hasClearButton: false}">
                        <input name="segundoApellido" type="text">
                    </floating-label>

                </div>

            </div>
            <br>
            <button>
                Continuar
            </button>

            <br>
            <br>
            <button @click="exitMenu('menuAyudo')">
                Regresar
            </button>

        </div>
    </section>
</template>

<script>
    // import FloatLabel from "vue-float-label/components/FloatLabel";
    import FloatingLabel from 'vue-simple-floating-labels'

    export default {
        name: 'menu-ayudo',
        components: {
            // FloatLabel
            FloatingLabel
        },
        data() {
            return {
                step: 'resgistroPrincipal'
            }
        },
        mounted() {

        },
        methods: {
            exitMenu(actionParam) {
                this.$emit("exit-menu", {action: actionParam});
            },
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scss scoped>

    input {
        border: 1px solid lighten($ onyx, 50);
        border-radius: 2rem;
        font-size: var(1.125rem);
        padding: calc(var(1.125rem) * .75) calc(var(1.125rem) * 1.125);
    }

    button {
        border: none;
        border-radius: 2rem;
        color: inherit;
        font-weight: 500;
        background-color: #46b78263;
        cursor: pointer;
        font-size: 1rem;
        padding: calc(1rem * .75) calc(1rem * 1.125);
        outline: none;
        text-decoration: none;
        text-transform: uppercase;
    }
</style>
